.header-wrapper{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 0;
}
.header__nav{
  display: flex;
  gap:28px;
  font-size: rem(14);
  li:last-child{
    padding-left: 6px;
    a{
      color: #222222;
    }
  }
}
.header__button{
  padding: 13px 18px;
  color: #ffffff;
  background-color: $color;
  border-radius: 6px;
  display: flex;
  gap:8px;
  align-items: center;
  div{
    font-size: rem(11);
    width: 20px;
    height: 18px;
    border-radius: 45%;
    background-color: #ffffff;
    color:$color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover{
    cursor:pointer;
  }
}

.h1{
  font-size: rem(36);
  font-weight: normal;
  line-height: 43;
}