.header-wrapper{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 0;
}
.header__nav{
  display: flex;
  gap:28px;
  font-size: rem(14);
  li:last-child{
    padding-left: 6px;
    a{
      color: #222222;
    }
  }
}
.header__button{
  padding: 13px 18px;
  color: #ffffff;
  background-color: $color;
  border-radius: 6px;
  display: flex;
  gap:8px;
  align-items: center;
  div{
    font-size: rem(11);
    width: 20px;
    height: 18px;
    border-radius: 45%;
    background-color: #ffffff;
    color:$color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover{
    cursor:pointer;
  }
}

.h1{
  font-size: rem(36);
  font-weight: normal;
  line-height: 43px;
}
.banner{
  height:640px;
  background-image: url('../images/img/banner.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner__block{
  padding-top:218px;
  p{
    margin:0 0;
  }
}
.banner__subtitle{
  color:$yellow;
  font-size: rem(14);
}
.banner__title{
  margin:0 ;
  max-width: 500px;
  color:white;
  line-height: 57px;
  font-size: rem(48);
}
.banner__text{
  margin-top:12px;
  max-width: 500px;
  color: white;
  font-size: rem(17);
  color:#CACCD1;
}
.subtitle{
  margin:0 0;
  color:$yellow;
  font-size: rem(14);
}
.round{
  position: absolute;
}
.round1{
  top:691px;
  left: 50%;
  transform: translate(-50%, 0);
}
.round2{
  top:1267px;
  left: 8px;
}
.about{
  margin-top:100px;
}
.about-wrapper{
  display:flex;
  justify-content: space-between;
  gap:30px;
  align-items: center;
}
.about__info{
  max-width: 400px;
}
.about__title{
  font-family: $font2;
  font-size: rem(36);
  font-weight: normal;
  line-height: 43px;
}
.about__text{
  margin-top:8px;
  margin-bottom:19px;
}
.about__link{
  font-size: rem(15);
  display:flex;
  gap:4px;
}
.about__image{
  img{
    width: 576px;
    height: 576px;
  }
}
.promise{
  margin-top:100px;
  padding:100px 0;
  background-color: #FAFAFC;
  position: relative;
  overflow: hidden;
}
.promise-wrapper{
  display: flex;
  gap:25px;
  flex-direction: column;
  align-items: center;
}
.promise__header{
  max-width: 600px;
  text-align: center;
}
.promise__items{
  width: 100%;
}
.promise__items{
  display: flex;
  gap:150px;
  justify-content: center;
  flex-wrap: wrap;
}
.promise__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap:8px;
  width: 289px;
  p{
    margin:0;
  }
}
.promise__item-title{
  font-size: rem(20);
  font-family: $font2;
}
.promise__item-text{
  font-size: rem(14);
}
.round3{
  top:0;
  right: 0;
}
.round4{
  bottom: 0;
  left: 0;
}
.meet{
  margin-top:100px;
}
.meet__text{
  max-width: 538px;
}
.meet__header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap:8px;
  border-bottom: 1px solid #000;
}
.meet__items{
  margin-top:20px;
  display: flex;
  gap:15px;
  justify-content: center;
  flex-wrap: wrap;
}
.meet__item{
  position: relative;
  width: 379px;
  height: 473px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  align-items: center;
}
.meet__item-image{
  border-radius: 10px;
  width: 379px;
  height: 473px;
  z-index: -1;
  position: absolute;
}
.meet__item-title{
  margin-top: 30px;
  font-size: rem(28);
}
.meet__item-text{
  max-width: 300px;
}.sea{
  width: 100%;
  height: 600px;
  background-image:url("../images/img/sea.png") ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   position: relative;
   margin-top:100px;
}

.sea__navbar{
  position: absolute;
  bottom:40px;
  right: 40px;
  ul{
    color: white;
    font-size: rem(12);
    display: flex;
    gap:20px;
    padding:16px 22px;
    border-radius: 16px;
    background-color: #292C32;
    li{
      display: flex;
      gap:8px;
    }
  }
}
.check{
  min-height: 393px;
  text-align: center;
  background-color:#375C58 ;
  background-image:url("../images/img/round_backround.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.check-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 393px;
}
.check__subtitle{
  margin-bottom: 5px;
  color: white;
  font-size: (14);
}
.check__title{
  color:$yellow;
  margin-bottom: 17px;
}
.check__text{
  max-width: 538px;
}
.check__button{
  padding:14px 18px;
  background-color: white;
  color: #575445;
  border-radius: 6px;
  margin-top: 20px;
  &:hover{
    cursor: pointer;
  }
}
.oferts{
  margin-top: 100px;
}
.oferts__header{
  max-width: 538px;
  margin-bottom:20px;
}
.ofert__image{
  width: 568px;
  height: 319px;
  border-radius:20px;
  margin-bottom: 20px;
}
.ofert__item{
  width: 568px;
}
.ofert__item-title{
  font-size: rem(20);
  line-height: 24px;
  margin-bottom: 12px;
}
.ofert__user{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ofert__user-date{
  color: #6F7278;
  font-size: rem(18);
}
.ofer__user-info{
  display: flex;
  gap:12px;
}
.ofert__user-img{
  height: 50px;
  width: 50px;
}
.ofert__user-name{
  font-size: rem(18);
  p:last-child{
    color: $yellow;
  }
}
.oferts__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:30px;
}
.recommendations{
  margin-top: 200px;
}
.recommendations-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap:30px;
}
.recommendations__info{
  width: 400px;
}
.recommendations__image,.recommendations__img{
  width: 576px;
  height: 576px;
}
.recommendations__image{
  position: relative;
}
.recommendations__text{
  margin-top:7px;
  margin-bottom:20px;
}
.round5{
  top:-128px;
  right: -22%;
  z-index: -1;
}
.round6{
  left: -22%;
  bottom:-128px;
}
