
$screen:1920;
$container-size:1208px;
$container:1168px;

$color:#575445;
$gray:#444444;
$yellow:#E6B939;
$white:#FAFAFC;
$color4:#000;

$font1:'Poppins', sans-serif;
$font2:'Roboto', sans-serif;
$size:rem(16);

$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: $container-size;
