@media (max-width: $sm){
  .about__image{
    img{
      width: 275px;
      height: 275px;
    }
  }
  .about__info{
    max-width: 300px;
  }
  .meet__item-image,.meet__item{
    width: 275px;
    height: 400px;
  }
}
